<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="app">
        1부터 100까지만 입력 가능합니다.<br/>
        점수 : <input type="text" v-model="score" class="score" v-bind:class="info">
        <img src="https://contactsvc.bmaster.kro.kr/img/error.png" class="warnimage" v-if="info.warning">

    </div>
</body>
</html>
<script>
    let vm = Vue.createApp({
        name:"App",
        data(){
            return{
                score : 50,

            }
        },
        computed:{
            info(){
                return { warning : this.score<1||this.score>100 }
            }
        }
    }).mount('#app')
</script>
<style>
    .score
    {
        border:solid 1px black;
    }

    .warning 
    {
        background-color:skyblue;
        color:purple;
    }
    .warnimage
    {
        width:18px;
        height:18px;
        top:5px;
        position:relative;
    }
</style>